#include "id.h"
#include <winuser.h>

1 ICON record.ico

IDM_MENU MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Open ROM...\tCtrl+O", ID_OPEN
		MENUITEM "&Save All\tCtrl+S", ID_SAVE_ALL, GRAYED
		MENUITEM "&Close", ID_CLOSE, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "&Import EBM...", ID_IMPORT//, GRAYED
		MENUITEM "&Export EBM...", ID_EXPORT//, GRAYED
		MENUITEM "Import S&PC...", ID_IMPORT_SPC
		MENUITEM "Expo&rt SPC...", ID_EXPORT_SPC//, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "E&xit", ID_EXIT
	END
	POPUP "&Edit"
	BEGIN
//		MENUITEM "&Undo\tCtrl+Z", ID_UNDO, GRAYED
//		MENUITEM SEPARATOR
		MENUITEM "Cu&t\tCtrl+X", ID_CUT, GRAYED
		MENUITEM "&Copy\tCtrl+C", ID_COPY, GRAYED
		MENUITEM "&Paste\tCtrl+V", ID_PASTE, GRAYED
		MENUITEM "&Delete\tDel", ID_DELETE, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "&Split Pattern", ID_SPLIT_PATTERN, GRAYED
		MENUITEM "&Join Patterns", ID_JOIN_PATTERNS, GRAYED
		MENUITEM "&Make Subroutine", ID_MAKE_SUBROUTINE, GRAYED
		MENUITEM "U&nmake Subroutine", ID_UNMAKE_SUBROUTINE, GRAYED
		MENUITEM "T&ranspose...", ID_TRANSPOSE, GRAYED
		POPUP "Set D&uration"
		{
			MENUITEM "&Increment\tCtrl+.", ID_INCREMENT_DURATION, GRAYED
			MENUITEM "&Decrement\tCtrl+,", ID_DECREMENT_DURATION, GRAYED
			MENUITEM "&Whole Note\tCtrl+1", ID_SET_DURATION_1, GRAYED
			MENUITEM "&Half Note\tCtrl+2", ID_SET_DURATION_2, GRAYED
			MENUITEM "&Quarter Note\tCtrl+3", ID_SET_DURATION_3, GRAYED
			MENUITEM "&Eighth Note\tCtrl+4", ID_SET_DURATION_4, GRAYED
			MENUITEM "&Sixteenth Note\tCtrl+5", ID_SET_DURATION_5, GRAYED
			MENUITEM "&Thirty-second Note\tCtrl+6", ID_SET_DURATION_6, GRAYED
		}
	END
	POPUP "&Options"
	BEGIN
		MENUITEM "&Sound Options...", ID_OPTIONS
	END
	POPUP "&Playback"
	BEGIN
		MENUITEM "&Play\tCtrl+P", ID_PLAY
		MENUITEM "&Stop\tEsc", ID_STOP, GRAYED
		MENUITEM "Capture &Audio...", ID_CAPTURE_AUDIO
		MENUITEM SEPARATOR
		MENUITEM "&Clear", ID_CLEAR_SONG, GRAYED
	END
	POPUP "&View"
	BEGIN
		MENUITEM "Zoom &In\tCtrl+=", ID_ZOOM_IN, GRAYED
		MENUITEM "Zoom &Out\tCtrl+-", ID_ZOOM_OUT, GRAYED
		MENUITEM "&Status Bar", ID_STATUS_BAR, CHECKED
	END
	POPUP "O&ctave"
	BEGIN
		MENUITEM "1-2\tF1", ID_OCTAVE_1
		MENUITEM "2-3\tF2", ID_OCTAVE_1+1
		MENUITEM "3-4\tF3", ID_OCTAVE_1+2
		MENUITEM "4-5\tF4", ID_OCTAVE_1+3
		MENUITEM "5-6\tF5", ID_OCTAVE_1+4
	END
	POPUP "&Help"
	BEGIN
		MENUITEM "&Code List", ID_HELP
		MENUITEM SEPARATOR
		MENUITEM "&About", ID_ABOUT
	END
END

IDM_CONTEXTMENU MENU
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "Cu&t", ID_CUT
		MENUITEM "&Copy", ID_COPY
		MENUITEM "&Paste", ID_PASTE
		MENUITEM "&Delete", ID_DELETE
		MENUITEM SEPARATOR
		MENUITEM "&Make Subroutine", ID_MAKE_SUBROUTINE
		MENUITEM "U&nmake Subroutine", ID_UNMAKE_SUBROUTINE
		MENUITEM "T&ranspose...", ID_TRANSPOSE
	END
END


IDA_ACCEL ACCELERATORS
BEGIN
	VK_ESCAPE, ID_STOP, VIRTKEY
	VK_F1, ID_OCTAVE_1, VIRTKEY
	VK_F2, ID_OCTAVE_1+1, VIRTKEY
	VK_F3, ID_OCTAVE_1+2, VIRTKEY
	VK_F4, ID_OCTAVE_1+3, VIRTKEY
	VK_F5, ID_OCTAVE_1+4, VIRTKEY
	"O", ID_OPEN, CONTROL, VIRTKEY
	"P", ID_PLAY, CONTROL, VIRTKEY
	"S", ID_SAVE_ALL, CONTROL, VIRTKEY
	VK_OEM_MINUS, ID_ZOOM_OUT, CONTROL, VIRTKEY
	VK_OEM_PLUS, ID_ZOOM_IN, CONTROL, VIRTKEY
//	"Z", ID_UNDO, CONTROL, VIRTKEY
END

IDD_OPTIONS DIALOG 0, 0, 101, 62
STYLE 0
CAPTION "Sound Options"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT "Sample rate (Hz):", 0,     7,  7, 55, 14
	EDITTEXT IDC_RATE,               65,  5, 30, 14, ES_RIGHT | ES_NUMBER
	LTEXT "Buffer size:", 0,          7, 26, 50, 14
	EDITTEXT IDC_BUFSIZE,            65, 24, 30, 14, ES_RIGHT | ES_NUMBER
	DEFPUSHBUTTON "&Apply", IDOK,     5, 43, 44, 14
	PUSHBUTTON "&Cancel", IDCANCEL,  51, 43, 44, 14
END

IDD_ABOUT DIALOG 0, 0, 180, 70
STYLE 0
CAPTION "About"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT "EarthBound Music Editor\r\nv2.5.0\r\n", 0,
		5, 5, 170, 55
	CONTROL "https://github.com/PKHackers/ebmused/", IDC_HOMEPAGELINK, "Static", SS_NOTIFY | WS_GROUP | WS_TABSTOP,
		5, 30, 170, 8
	DEFPUSHBUTTON "&OK", IDOK, 125, 51, 50, 14
END

IDD_TRANSPOSE DIALOG 0, 0, 98, 43
STYLE 0
CAPTION "Transpose"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT "Semitones:", 0,            7,  7, 50, 14
	EDITTEXT IDC_TRANSPOSE_OFF,      50,  5, 42, 14
	DEFPUSHBUTTON "&Apply", IDOK,     5, 24, 42, 14
	PUSHBUTTON "&Cancel", IDCANCEL,  50, 24, 42, 14
END

IDRC_SPC RCDATA "blank.spc"

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "ebmused.exe.manifest"
